<template name="start">
    <br>

    <p id="templateStart">In this HIT you will be given a 2-page description of a ski-resort
        followed by YES/NO question regarding the content of the text. Your goal is to read the text carefully and
        determine the correct answer to the corresponding question. To help you answering the question,
        another worker already highlighted some relevant information in the text. However, it is not guaranteed that all highlightings are correct.</p>

    <p>After accepting the HIT, you will be provided with a detailed task description and particular question. After that, you will be given
        a short quiz and a 1-paragraph preliminary test to check your understanding.
        If you fail the quiz after 2 attempts or fail the preliminary test after 3 attempts you will not be able to proceed
        to the actual task and will need to return the HIT.</p>

    <p>The declared reward of $0.50 will be paid to you if you pass the quiz, the preliminary test, and answer the specified main question for the text.
        For the correct answer you and the worker who highlited the text will receive a $0.30 bonus each.
        </p>

    <p><strong>Note: By accepting this HIT you consent that you are at least 18 years old.</strong></p>
    <p><strong>You may only complete ONE HIT. Please do not queue hits.</strong></p>

</template>
