<template name="start">
    <br>

    <p id="templateStart">In this HIT you will be given a 2-page description of a ski-resort
        followed by a YES/NO question regarding the content of the text. Your goal is to read the text carefully and highlight
        all relevant sentences that could help to find out the answer to the question. Please note, that to highlight correct sentences you
        need to read the entire text and pay attention to details.</p>

    <p>After accepting the HIT, you will be provided with a detailed task description and particular question. After that, you will be given
        a short quiz and a 1-paragraph preliminary test to check your understanding.
        If you fail the quiz after 2 attempts or fail the preliminary test after 3 attempts you will not be able to proceed
        to the actual task and will need to return the HIT.</p>

    <p>The declared reward of $0.50 will be paid to you under the following conditions: (1) you pass the quiz, (2) pass the training phase, and
        (3) provide the highlighting for the main text. Sentences which you highlighted will be given to another worker,
        who should answer the same question. Each of you will receive a $0.30 bonus for the correct answer provided by that worker and no bonus in case
        of incorrect choice.</p>

    <p><strong>Note: By accepting this HIT you consent that you are at least 18 years old.</strong></p>
    <p><strong>You may only complete ONE HIT. Please do not queue hits.</strong></p>

</template>
